apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
data:
  init.sql: |
    USE chatbot;
    
    CREATE TABLE IF NOT EXISTS faqs (
      id INT AUTO_INCREMENT PRIMARY KEY,
      question TEXT NOT NULL,
      answer TEXT NOT NULL
    );
    
    CREATE TABLE IF NOT EXISTS chat_logs (
      id INT AUTO_INCREMENT PRIMARY KEY,
      user_message TEXT,
      bot_reply TEXT,
      similarity_score FLOAT,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
    
    INSERT INTO faqs (question, answer) VALUES
    ('Hi', 'Hello! How can I help you today?'),
    ('Hey', 'Hey there! What can I do for you?'),
    ('Good morning', 'Good morning! How are you today?'),
    ('Who created you?', 'I was created by Yasmine El Mkhantar.'),
    ('What can you do?', 'I can answer simple questions and chat with you.'),
    ('What is your name?', 'I am Alpha Bot.'),
    ('How are you?', 'I am always fine, thanks for asking!'),
    ('Goodbye', 'Goodbye! Have a nice day.');